 <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">brands</span>
                        </a>
                        <!-- <a class="has-arrow"  aria-expanded="false">
                            <span class="">Brands</span>
                        </a> -->
                         <ul aria-expanded="false">
                            <li><a href="/brand">all brands</a></li>
                             <li><a href="/brand/addBrand">add brands</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Categories</span>
                        </a>
                        
                        <ul aria-expanded="false">
                                    <li><a href="/categories/catogeriesAdd">add Main Categories</a></li>
                                    <li><a href="/sub_Catogeries">add sub-Categories</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">product</span>
                        </a>
                        
                         <ul aria-expanded="false">
                            <li><a href="/product">add product</a></li>
                             <li><a href="/product/productShow">products</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="/admin/brands" aria-expanded="false">
                            <i class="fa fa-users menu-icon"></i><span class="nav-text">users</span>
                        </a>
                         <ul aria-expanded="false">
                            <li><a href="/admin/userDetails">User</a></li>
                             <li><a href="/admin/orderView">user order</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="/admin/brands" aria-expanded="false">
                            <i class="fa fa-address-card-o menu-icon"></i><span class="nav-text">banner Managment</span>
                        </a>
                         <ul aria-expanded="false">
                            <li><a href="/admin/banner"> banners add</a></li>
                            <li><a href="/admin/bannerShow"> banners show</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="/admin/brands" aria-expanded="false">
                            <i class="fa fa-balance-scale menu-icon"></i><span class="nav-text">sales</span>
                        </a>
                         <ul aria-expanded="false">
                            <li><a href="/admin/salesReport">Sales Report</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="/admin/brands" aria-expanded="false">
                            <i class="fa fa-tag menu-icon"></i><span class="nav-text">Coupon</span>
                        </a>
                         <ul aria-expanded="false">
                            <li><a href="/admin/couponShow">Coupons</a></li>
                             <li><a href="/admin/coupon">Coupons Add</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
