<!-- BEGIN PRE-FOOTER -->
<div class="footer" style="width: vw;">
    <div class="container">
      <hr>
      <div class="row">
        <!-- BEGIN BOTTOM ABOUT BLOCK -->
        
          <p>Copyright &copy; Designed & Developed by <a>N@B</a> 2022</p>
        
        
      </div>
      
      </div>
    </div>
  </div>

  <!-- BEGIN fast view of a product -->
 