<meta charset="utf-8">
  <title>hamnas</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="">

  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css"><!--- fonts for slider on the index page -->  
  <!-- Fonts END -->

  <!-- Global styles START -->          
  <link href="../../userPages/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../userPages/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Global styles END --> 
   
  <!-- Theme styles START -->
  <link href="../../userPages/pages/css/components.css" rel="stylesheet">
  <link href="../../userPages/pages/css/slider.css" rel="stylesheet">
  <link href="../../userPages/pages/css/style-shop.css" rel="stylesheet" type="text/css">
  <link href="../../userPages/corporate/css/style.css" rel="stylesheet">
  <link href="../../userPages/corporate/css/style-responsive.css" rel="stylesheet">
  <link href="../../userPages/corporate/css/themes/red.css" rel="stylesheet" id="style-color">
  <link href="../../userPages/corporate/css/custom.css" rel="stylesheet">
  <!-- Theme styles END --></link>
  <!-- sweet alart start -->
  <link rel="stylesheet" href="sweetalert2.min.css">
  <!-- Sweet alart End -->
  <!-- Page level plugin styles START -->
  <link href="../../userPages/pages/css/animate.css" rel="stylesheet">
  <link href="../../userPages/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <link href="../../userPages/plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
  <link href="../../userPages/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
  <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"><!-- for slider-range -->
  <link href="../../userPages/plugins/rateit/src/rateit.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin styles END -->
